{% extends 'blog/base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<article>
    <h1>{{ post.title }}</h1>
    
    <div class="post-date">
        {% if post.published_date %}
            {{ post.published_date|date:"jS F Y" }}
        {% else %}
            {{ post.created_date|date:"jS F Y" }}
        {% endif %}
        {% if post.updated_date != post.created_date %}
            &mdash; Updated: {{ post.updated_date|date:"jS F Y" }}
        {% endif %}
    </div>

    {% if post.tags.all %}
    <div class="tags">
        {% for tag in post.tags.all %}
            <span class="tag">{{ tag.name }}</span>
        {% endfor %}
    </div>
    {% endif %}

    <div class="content">
        {{ post.content_html|safe }}
    </div>
</article>

<p style="margin-top: 24px;">
    <a href="{% url 'blog:post_list' %}">&larr; Back to writing</a>
</p>
{% endblock %}
